.review-card {
    margin: var(--main-margin);
    border-radius: var(--border-rad);
      padding: 20px;
      background-color: white;
    }
    
    .username {
      font-weight: bold;
      font-size: 18px;
    }
    
    .review {
      color: #555;
      margin-top: 8px;
    }
    
    .rating {
      display: flex;
      margin: 2%;
    }
    
   
    