/* .header {
  background-color: #1e90ff;
  text-align: center;
  padding: 30px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden; 
}

.logo {
  width: 200px;
  max-width: 100%;
  display: block;
  margin: 0 auto 30px;
  position: relative;
  z-index: 2;
}

.header-curve {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200%;
  height: 150px; 
  background-color: white;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

@media (max-width: 768px) {
  .logo {
    width: 140px;
    margin-bottom: 20px;
  }
  
  .header-curve {
    height: 100px;
  }
} */

.header{
  background-color: #fefeff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.ti{
  padding: 20px 20px;
}

.header-curve {
  width: 100%;
  height: 10rem;
  background-color:  #fefeff;;
  border-radius: 0 0 10rem 10rem;

}