
  :root {
    --main-color: #ffffff;
    --button-normal: #28b5d8;
    --button-hover: #096f89;
  }
  
  .hero-content {
padding: 10%;
    margin: 5%;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sta{
    justify-content: flex-start;
  }
  
  .hero-description {
 
    font-weight: 500;
    font-size: 27px;
    line-height: 1.1;
    letter-spacing: 2%;
    margin-bottom: 10px;
  }
  
  .desp {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }
  
  .div-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    text-transform: uppercase;
    font-size: 16px;
    max-width: 100%;
    padding: 12px 25px;
    color: var(--main-color);
    background-color: var(--button-normal);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    scale: 1.1;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.31);
    background-color: var(--button-hover);
  }
  .b{
    background-color: #ffffff;
    color: var(--button-normal);
  }
.b:hover{
  background-color: white;
}
.scroll-arrow {
display: flex;
justify-content: center;
align-items: center;
  font-size: 30px;
  color: white;
  animation: bounce 1.5s infinite; /* Animación de rebote */
}

.scroll-arrow:hover {
  color: var(--button-hover);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Mueve la flecha hacia abajo */
  }
  100% {
    transform: translateY(0);
  }
}